.Category {
    font-weight: bold;
    padding-bottom: 10px;
}

.CategoryName {
    padding: 5px;
    background-color: #99ADBC;
}

.QuestionList {
    padding: 5px;
    background-color: #CCD6DF;
    font-weight: normal;
}